<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweets for {{test}}</title>
</head>
<style type="text/css">
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
</style>
<body>

<h2>Tweets for {{test}}</h2>

Median sentiment score: {{test2}} (-1.0 negative to 1.0 positive)
<br /><br />


{% for tweet, score, col, id in test1%} 
<li style="list-style:square; font-size:70%; font-family:Verdana, sans-serif; color:
	{% autoescape false %}{{col}}{% endautoescape %}">
    {{score}}: <a style="color:{% autoescape false %}{{col}}{% endautoescape %}" href="{{id}}">{{tweet}}</a>
</li>
{% endfor %}


<ul>
</ul>

</body>
</html>
